.rucio-info button{
  background: transparent;
  border: None;
}

.rucio-info p{
  text-align: left;
  position: absolute;
}

.popup {
  display: inline-block;
  cursor: pointer;
  margin: 0 auto;
  height: auto;
  overflow: auto;
}